.App {
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;  /*z fixed tells what layer we want our image , in this case -1 since we want particles bellow everything on the website*/

}
